<form (ngSubmit)="onSubmit()">
  <md-card>
    <md-card-title-group>
      <md-card-title>Bearbeiten</md-card-title>
      <img md-card-sm-image [src]="_user.profilePicture" name="profilePicture" (click)="isEditPicture=!isEditPicture">
    </md-card-title-group>
    <md-card-content style="text-align: center">
      <md-input placeholder="Vorname" [(ngModel)]="_user.firstName" name="firstName"></md-input>
      <md-input placeholder="Nachname" [(ngModel)]="_user.lastName" name="lastName"></md-input>
      <br>
      <md-input placeholder="Username" [(ngModel)]="_user.username" name="username"></md-input>
      <md-input placeholder="E-Mail" [(ngModel)]="_user.email" name="email"></md-input>
      <br>
      <md-input placeholder="Stadt" [(ngModel)]="_user.city" name="city"></md-input>
    </md-card-content>
  </md-card>
  <button md-fab type="submit" class="md-primary btn-floating">
    <md-icon>save</md-icon>
  </button>
  <button md-mini-fab class="mini-btn-floating" (click)="onCancel()" type="reset">
    <md-icon>cancel</md-icon>
  </button>
</form>

<snandr-icon *ngIf="isEditPicture" (selectedEvent)="onSelectImage($event)"></snandr-icon>
