<form (ngSubmit)="onSubmit()" #form="ngForm">
  <md-card>
    <md-card-title-group>
      <md-card-title>Bearbeiten</md-card-title>
      <img md-card-sm-image [src]="_user.profilePicture" name="profilePicture" (click)="isEditPicture=!isEditPicture">
    </md-card-title-group>
    <md-card-content style="text-align: center">
      <md-input placeholder="Vorname" [(ngModel)]="_user.firstName" name="firstName"></md-input>
      <md-input placeholder="Nachname" [(ngModel)]="_user.lastName" name="lastName"></md-input>
      <br>
      <md-input placeholder="Username" [(ngModel)]="_user.username" name="username"></md-input>
      <md-input placeholder="E-Mail" [(ngModel)]="_user.email" name="email"></md-input>
      <br>
      <md-input placeholder="Stadt" [(ngModel)]="_user.city" name="city"></md-input>
    </md-card-content>
  </md-card>
  <snandr-fab [configuration]="fabConfig" (secondaryAction)="onCancel()" [showSecondaryActions]="form.dirty"></snandr-fab>
</form>

<snandr-icon *ngIf="isEditPicture" (selectedEvent)="onSelectImage($event)"></snandr-icon>
