<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav mode="over">
    <h2>snandr</h2>
    <br>
    <button md-button (click)="sidenav.close()" routerLink="matches" routerLinkActive="active">Runde</button>
    <br>
    <button md-button (click)="sidenav.close()" routerLink="users/580d394db1b2fb33281966f4">Profil</button>
    <br>
    <button md-button (click)="sidenav.close()" routerLink="login">Login</button>
  </md-sidenav>
  <md-toolbar>
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span>snandr</span>
  </md-toolbar>

  <div class="container">
    <div class="content">
      <router-outlet></router-outlet>
      <simple-notifications timeOut="5000"></simple-notifications>
    </div>
  </div>
</md-sidenav-layout>
